.gradle/
.idea/
local.properties
**/build/
*.iml
.DS_Store
.externalNativeBuild/
.cxx/
zygisk/module/libs/
zygisk/module/obj/
/pogo-apkm/
/reverse/*
!/reverse/pogo-0.427.0/
/reverse/pogo-0.427.0/*
!/reverse/pogo-0.427.0/*.gz
!/reverse/pogo-0.427.0/DummyDll/
!/reverse/pogo-0.427.0/DummyDll/**
/tools/il2cppdumper/
